<%- include("../partials/user/header.ejs") %>
<style>
    .card-login {
        background-color: #f8f9fa; /* Light background color */
        border-radius: 12px;      /* Smooth rounded corners */
    }
    .card-title {
        font-size: 1.5rem;
    }
    .error-message {
        font-size: 0.85rem;
    }
    .form-control {
        border: 1px solid #ced4da; /* Subtle border */
    }
    .form-control:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Soft blue shadow on focus */
        border-color: #007bff;    /* Highlight border on focus */
    }
</style>

<section class="content-main mt-80 mb-80 d-flex justify-content-center align-items-center" >
    <div class="card mx-auto card-login col-md-6 col-lg-4 p-4 shadow-lg border-0">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center text-primary font-weight-bold">Enter Current Email</h4>
            <form method="post" action="/change-email" onsubmit="return validateLoginForm()" >
                <div class="mb-3" >
                    <input class="form-control form-control-lg rounded-pill" name="email" placeholder="Email" type="email" id="email" required>
                    <div class="error-message text-danger small mt-2" id="email-error"></div>
                </div>
                <div class="mb-3 ">
                    <button type="submit" class="btn btn-primary py-2 rounded-pill font-weight-bold">Verify</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
   function validateLoginForm() {
       const emailInput = document.getElementById('email');
       const emailError = document.getElementById('email-error');
       const emailValue = emailInput.value.trim();
       const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;


       if (emailValue === '') {
           emailError.textContent = 'Please enter your email.';
           emailInput.classList.add('is-invalid');
           return false;
       } else if (!emailValue.match(emailPattern)) {
           emailError.textContent = 'Please enter a valid email address';
           emailInput.classList.add('is-invalid');
           return false;
       } else {
           emailError.textContent = '';
           emailInput.classList.remove('is-invalid');
           return true;
       }
   }
</script>
<%- include("../partials/user/footer.ejs") %>



